openapi: 3.0.0
info:
  title: AI Platform API
  description: The AI Platform REST API. 
  version: 1.0.0
  contact:
    name: AI Platform Support Team
servers:
  - url: https://api.aiplatform.hsbc/v1
security:
  - ApiKeyAuth: []
tags:
  - name: Chat
    description: Given a list of messages comprising a conversation, the model will return a response.
  - name: Completions
    description: >-
      Given a prompt, the model will return one or more predicted completions, and can also return the
      probabilities of alternative tokens at each position.
  - name: Embeddings
    description: >-
      Get a vector representation of a given input that can be easily consumed by machine learning models and
      algorithms.
  - name: Models
    description: List and describe the various models available in the API.
  - name: Moderations
    description: Given text and/or image inputs, classifies if those inputs are potentially harmful.
paths:
  /chat/completions:
    post:
      operationId: createChatCompletion
      tags:
        - Chat
      summary: |
        Creates a model response for the given chat conversation. 

        Parameter support can differ depending on the model used to generate the
        response, particularly for newer reasoning models. Parameters that are only
        supported for reasoning models are noted below. For the current state of 
        unsupported parameters in reasoning models, 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionStreamResponse'
      x-oaiMeta:
        name: Create chat completion
        group: chat
        returns: >
          Returns a [chat completion](/docs/api-reference/chat/object) object, or a streamed sequence of [chat
          completion chunk](/docs/api-reference/chat/streaming) objects if the request is streamed.
        path: create
        examples:
          - title: Default
            request:
              curl: |
                curl https://api.openai.com/v1/chat/completions \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "model": "VAR_chat_model_id",
                    "messages": [
                      {
                        "role": "developer",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Hello!"
                      }
                    ]
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                chat_completion = client.chat.completions.create(
                    messages=[{
                        "content": "string",
                        "role": "developer",
                    }],
                    model="gpt-4o",
                )
                print(chat_completion)
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const chatCompletion = await client.chat.completions.create({
                  messages: [{ content: 'string', role: 'developer' }],
                  model: 'gpt-4o',
                });

                console.log(chatCompletion);
              csharp: |
                using System;
                using System.Collections.Generic;

                using OpenAI.Chat;

                ChatClient client = new(
                    model: "gpt-4.1",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                List<ChatMessage> messages =
                [
                    new SystemChatMessage("You are a helpful assistant."),
                    new UserChatMessage("Hello!")
                ];

                ChatCompletion completion = client.CompleteChat(messages);

                Console.WriteLine(completion.Content[0].Text);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                  "github.com/openai/openai-go/shared"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  chatCompletion, err := client.Chat.Completions.New(context.TODO(), openai.ChatCompletionNewParams{
                    Messages: []openai.ChatCompletionMessageParamUnion{openai.ChatCompletionMessageParamUnion{
                      OfDeveloper: &openai.ChatCompletionDeveloperMessageParam{
                        Content: openai.ChatCompletionDeveloperMessageParamContentUnion{
                          OfString: openai.String("string"),
                        },
                      },
                    }},
                    Model: shared.ChatModelGPT4_1,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", chatCompletion)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.ChatModel;
                import com.openai.models.chat.completions.ChatCompletion;
                import com.openai.models.chat.completions.ChatCompletionCreateParams;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()
                            .addDeveloperMessage("string")
                            .model(ChatModel.GPT_4_1)
                            .build();
                        ChatCompletion chatCompletion = client.chat().completions().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.ChatModel
                import com.openai.models.chat.completions.ChatCompletion
                import com.openai.models.chat.completions.ChatCompletionCreateParams

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: ChatCompletionCreateParams = ChatCompletionCreateParams.builder()
                        .addDeveloperMessage("string")
                        .model(ChatModel.GPT_4_1)
                        .build()
                    val chatCompletion: ChatCompletion = client.chat().completions().create(params)
                }
              ruby: >-
                require "openai"


                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )


                chat_completion = openai.chat.completions.create(messages: [{content: "string", role:
                :developer}], model: :"gpt-4.1")


                puts(chat_completion)
            response: |
              {
                "id": "chatcmpl-B9MBs8CjcvOU2jLn4n570S5qMJKcT",
                "object": "chat.completion",
                "created": 1741569952,
                "model": "gpt-4.1-2025-04-14",
                "choices": [
                  {
                    "index": 0,
                    "message": {
                      "role": "assistant",
                      "content": "Hello! How can I assist you today?",
                      "refusal": null,
                      "annotations": []
                    },
                    "logprobs": null,
                    "finish_reason": "stop"
                  }
                ],
                "usage": {
                  "prompt_tokens": 19,
                  "completion_tokens": 10,
                  "total_tokens": 29,
                  "prompt_tokens_details": {
                    "cached_tokens": 0,
                    "audio_tokens": 0
                  },
                  "completion_tokens_details": {
                    "reasoning_tokens": 0,
                    "audio_tokens": 0,
                    "accepted_prediction_tokens": 0,
                    "rejected_prediction_tokens": 0
                  }
                },
                "service_tier": "default"
              }
          - title: Image input
            request:
              curl: |
                curl https://api.openai.com/v1/chat/completions \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "model": "gpt-4.1",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "text",
                            "text": "What is in this image?"
                          },
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"
                            }
                          }
                        ]
                      }
                    ],
                    "max_tokens": 300
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                chat_completion = client.chat.completions.create(
                    messages=[{
                        "content": "string",
                        "role": "developer",
                    }],
                    model="gpt-4o",
                )
                print(chat_completion)
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const chatCompletion = await client.chat.completions.create({
                  messages: [{ content: 'string', role: 'developer' }],
                  model: 'gpt-4o',
                });

                console.log(chatCompletion);
              csharp: |
                using System;
                using System.Collections.Generic;

                using OpenAI.Chat;

                ChatClient client = new(
                    model: "gpt-4.1",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                List<ChatMessage> messages =
                [
                    new UserChatMessage(
                    [
                        ChatMessageContentPart.CreateTextPart("What's in this image?"),
                        ChatMessageContentPart.CreateImagePart(new Uri("https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg"))
                    ])
                ];

                ChatCompletion completion = client.CompleteChat(messages);

                Console.WriteLine(completion.Content[0].Text);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                  "github.com/openai/openai-go/shared"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  chatCompletion, err := client.Chat.Completions.New(context.TODO(), openai.ChatCompletionNewParams{
                    Messages: []openai.ChatCompletionMessageParamUnion{openai.ChatCompletionMessageParamUnion{
                      OfDeveloper: &openai.ChatCompletionDeveloperMessageParam{
                        Content: openai.ChatCompletionDeveloperMessageParamContentUnion{
                          OfString: openai.String("string"),
                        },
                      },
                    }},
                    Model: shared.ChatModelGPT4_1,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", chatCompletion)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.ChatModel;
                import com.openai.models.chat.completions.ChatCompletion;
                import com.openai.models.chat.completions.ChatCompletionCreateParams;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()
                            .addDeveloperMessage("string")
                            .model(ChatModel.GPT_4_1)
                            .build();
                        ChatCompletion chatCompletion = client.chat().completions().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.ChatModel
                import com.openai.models.chat.completions.ChatCompletion
                import com.openai.models.chat.completions.ChatCompletionCreateParams

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: ChatCompletionCreateParams = ChatCompletionCreateParams.builder()
                        .addDeveloperMessage("string")
                        .model(ChatModel.GPT_4_1)
                        .build()
                    val chatCompletion: ChatCompletion = client.chat().completions().create(params)
                }
              ruby: >-
                require "openai"


                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )


                chat_completion = openai.chat.completions.create(messages: [{content: "string", role:
                :developer}], model: :"gpt-4.1")


                puts(chat_completion)
            response: |
              {
                "id": "chatcmpl-B9MHDbslfkBeAs8l4bebGdFOJ6PeG",
                "object": "chat.completion",
                "created": 1741570283,
                "model": "gpt-4.1-2025-04-14",
                "choices": [
                  {
                    "index": 0,
                    "message": {
                      "role": "assistant",
                      "content": "The image shows a wooden boardwalk path running through a lush green field or meadow. The sky is bright blue with some scattered clouds, giving the scene a serene and peaceful atmosphere. Trees and shrubs are visible in the background.",
                      "refusal": null,
                      "annotations": []
                    },
                    "logprobs": null,
                    "finish_reason": "stop"
                  }
                ],
                "usage": {
                  "prompt_tokens": 1117,
                  "completion_tokens": 46,
                  "total_tokens": 1163,
                  "prompt_tokens_details": {
                    "cached_tokens": 0,
                    "audio_tokens": 0
                  },
                  "completion_tokens_details": {
                    "reasoning_tokens": 0,
                    "audio_tokens": 0,
                    "accepted_prediction_tokens": 0,
                    "rejected_prediction_tokens": 0
                  }
                },
                "service_tier": "default"
              }
          - title: Streaming
            request:
              curl: |
                curl https://api.openai.com/v1/chat/completions \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "model": "VAR_chat_model_id",
                    "messages": [
                      {
                        "role": "developer",
                        "content": "You are a helpful assistant."
                      },
                      {
                        "role": "user",
                        "content": "Hello!"
                      }
                    ],
                    "stream": true
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                chat_completion = client.chat.completions.create(
                    messages=[{
                        "content": "string",
                        "role": "developer",
                    }],
                    model="gpt-4o",
                )
                print(chat_completion)
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const chatCompletion = await client.chat.completions.create({
                  messages: [{ content: 'string', role: 'developer' }],
                  model: 'gpt-4o',
                });

                console.log(chatCompletion);
              csharp: >
                using System;

                using System.ClientModel;

                using System.Collections.Generic;

                using System.Threading.Tasks;


                using OpenAI.Chat;


                ChatClient client = new(
                    model: "gpt-4.1",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );


                List<ChatMessage> messages =

                [
                    new SystemChatMessage("You are a helpful assistant."),
                    new UserChatMessage("Hello!")
                ];


                AsyncCollectionResult<StreamingChatCompletionUpdate> completionUpdates =
                client.CompleteChatStreamingAsync(messages);


                await foreach (StreamingChatCompletionUpdate completionUpdate in completionUpdates)

                {
                    if (completionUpdate.ContentUpdate.Count > 0)
                    {
                        Console.Write(completionUpdate.ContentUpdate[0].Text);
                    }
                }
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                  "github.com/openai/openai-go/shared"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  chatCompletion, err := client.Chat.Completions.New(context.TODO(), openai.ChatCompletionNewParams{
                    Messages: []openai.ChatCompletionMessageParamUnion{openai.ChatCompletionMessageParamUnion{
                      OfDeveloper: &openai.ChatCompletionDeveloperMessageParam{
                        Content: openai.ChatCompletionDeveloperMessageParamContentUnion{
                          OfString: openai.String("string"),
                        },
                      },
                    }},
                    Model: shared.ChatModelGPT4_1,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", chatCompletion)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.ChatModel;
                import com.openai.models.chat.completions.ChatCompletion;
                import com.openai.models.chat.completions.ChatCompletionCreateParams;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()
                            .addDeveloperMessage("string")
                            .model(ChatModel.GPT_4_1)
                            .build();
                        ChatCompletion chatCompletion = client.chat().completions().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.ChatModel
                import com.openai.models.chat.completions.ChatCompletion
                import com.openai.models.chat.completions.ChatCompletionCreateParams

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: ChatCompletionCreateParams = ChatCompletionCreateParams.builder()
                        .addDeveloperMessage("string")
                        .model(ChatModel.GPT_4_1)
                        .build()
                    val chatCompletion: ChatCompletion = client.chat().completions().create(params)
                }
              ruby: >-
                require "openai"


                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )


                chat_completion = openai.chat.completions.create(messages: [{content: "string", role:
                :developer}], model: :"gpt-4.1")


                puts(chat_completion)
            response: >
              {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
              "system_fingerprint": "fp_44709d6fcb",
              "choices":[{"index":0,"delta":{"role":"assistant","content":""},"logprobs":null,"finish_reason":null}]}


              {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
              "system_fingerprint": "fp_44709d6fcb",
              "choices":[{"index":0,"delta":{"content":"Hello"},"logprobs":null,"finish_reason":null}]}


              ....


              {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
              "system_fingerprint": "fp_44709d6fcb",
              "choices":[{"index":0,"delta":{},"logprobs":null,"finish_reason":"stop"}]}
          - title: Functions
            request:
              curl: |
                curl https://api.openai.com/v1/chat/completions \
                -H "Content-Type: application/json" \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -d '{
                  "model": "gpt-4.1",
                  "messages": [
                    {
                      "role": "user",
                      "content": "What is the weather like in Boston today?"
                    }
                  ],
                  "tools": [
                    {
                      "type": "function",
                      "function": {
                        "name": "get_current_weather",
                        "description": "Get the current weather in a given location",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "location": {
                              "type": "string",
                              "description": "The city and state, e.g. San Francisco, CA"
                            },
                            "unit": {
                              "type": "string",
                              "enum": ["celsius", "fahrenheit"]
                            }
                          },
                          "required": ["location"]
                        }
                      }
                    }
                  ],
                  "tool_choice": "auto"
                }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                chat_completion = client.chat.completions.create(
                    messages=[{
                        "content": "string",
                        "role": "developer",
                    }],
                    model="gpt-4o",
                )
                print(chat_completion)
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const chatCompletion = await client.chat.completions.create({
                  messages: [{ content: 'string', role: 'developer' }],
                  model: 'gpt-4o',
                });

                console.log(chatCompletion);
              csharp: |
                using System;
                using System.Collections.Generic;

                using OpenAI.Chat;

                ChatClient client = new(
                    model: "gpt-4.1",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                ChatTool getCurrentWeatherTool = ChatTool.CreateFunctionTool(
                    functionName: "get_current_weather",
                    functionDescription: "Get the current weather in a given location",
                    functionParameters: BinaryData.FromString("""
                        {
                            "type": "object",
                            "properties": {
                                "location": {
                                    "type": "string",
                                    "description": "The city and state, e.g. San Francisco, CA"
                                },
                                "unit": {
                                    "type": "string",
                                    "enum": [ "celsius", "fahrenheit" ]
                                }
                            },
                            "required": [ "location" ]
                        }
                    """)
                );

                List<ChatMessage> messages =
                [
                    new UserChatMessage("What's the weather like in Boston today?"),
                ];

                ChatCompletionOptions options = new()
                {
                    Tools =
                    {
                        getCurrentWeatherTool
                    },
                    ToolChoice = ChatToolChoice.CreateAutoChoice(),
                };

                ChatCompletion completion = client.CompleteChat(messages, options);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                  "github.com/openai/openai-go/shared"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  chatCompletion, err := client.Chat.Completions.New(context.TODO(), openai.ChatCompletionNewParams{
                    Messages: []openai.ChatCompletionMessageParamUnion{openai.ChatCompletionMessageParamUnion{
                      OfDeveloper: &openai.ChatCompletionDeveloperMessageParam{
                        Content: openai.ChatCompletionDeveloperMessageParamContentUnion{
                          OfString: openai.String("string"),
                        },
                      },
                    }},
                    Model: shared.ChatModelGPT4_1,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", chatCompletion)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.ChatModel;
                import com.openai.models.chat.completions.ChatCompletion;
                import com.openai.models.chat.completions.ChatCompletionCreateParams;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()
                            .addDeveloperMessage("string")
                            .model(ChatModel.GPT_4_1)
                            .build();
                        ChatCompletion chatCompletion = client.chat().completions().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.ChatModel
                import com.openai.models.chat.completions.ChatCompletion
                import com.openai.models.chat.completions.ChatCompletionCreateParams

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: ChatCompletionCreateParams = ChatCompletionCreateParams.builder()
                        .addDeveloperMessage("string")
                        .model(ChatModel.GPT_4_1)
                        .build()
                    val chatCompletion: ChatCompletion = client.chat().completions().create(params)
                }
              ruby: >-
                require "openai"


                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )


                chat_completion = openai.chat.completions.create(messages: [{content: "string", role:
                :developer}], model: :"gpt-4.1")


                puts(chat_completion)
            response: |
              {
                "id": "chatcmpl-abc123",
                "object": "chat.completion",
                "created": 1699896916,
                "model": "gpt-4o-mini",
                "choices": [
                  {
                    "index": 0,
                    "message": {
                      "role": "assistant",
                      "content": null,
                      "tool_calls": [
                        {
                          "id": "call_abc123",
                          "type": "function",
                          "function": {
                            "name": "get_current_weather",
                            "arguments": "{\n\"location\": \"Boston, MA\"\n}"
                          }
                        }
                      ]
                    },
                    "logprobs": null,
                    "finish_reason": "tool_calls"
                  }
                ],
                "usage": {
                  "prompt_tokens": 82,
                  "completion_tokens": 17,
                  "total_tokens": 99,
                  "completion_tokens_details": {
                    "reasoning_tokens": 0,
                    "accepted_prediction_tokens": 0,
                    "rejected_prediction_tokens": 0
                  }
                }
              }
          - title: Logprobs
            request:
              curl: |
                curl https://api.openai.com/v1/chat/completions \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "model": "VAR_chat_model_id",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Hello!"
                      }
                    ],
                    "logprobs": true,
                    "top_logprobs": 2
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                chat_completion = client.chat.completions.create(
                    messages=[{
                        "content": "string",
                        "role": "developer",
                    }],
                    model="gpt-4o",
                )
                print(chat_completion)
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const chatCompletion = await client.chat.completions.create({
                  messages: [{ content: 'string', role: 'developer' }],
                  model: 'gpt-4o',
                });

                console.log(chatCompletion);
              csharp: |
                using System;
                using System.Collections.Generic;

                using OpenAI.Chat;

                ChatClient client = new(
                    model: "gpt-4.1",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                List<ChatMessage> messages =
                [
                    new UserChatMessage("Hello!")
                ];

                ChatCompletionOptions options = new()
                {
                    IncludeLogProbabilities = true,
                    TopLogProbabilityCount = 2
                };

                ChatCompletion completion = client.CompleteChat(messages, options);

                Console.WriteLine(completion.Content[0].Text);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                  "github.com/openai/openai-go/shared"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  chatCompletion, err := client.Chat.Completions.New(context.TODO(), openai.ChatCompletionNewParams{
                    Messages: []openai.ChatCompletionMessageParamUnion{openai.ChatCompletionMessageParamUnion{
                      OfDeveloper: &openai.ChatCompletionDeveloperMessageParam{
                        Content: openai.ChatCompletionDeveloperMessageParamContentUnion{
                          OfString: openai.String("string"),
                        },
                      },
                    }},
                    Model: shared.ChatModelGPT4_1,
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", chatCompletion)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.ChatModel;
                import com.openai.models.chat.completions.ChatCompletion;
                import com.openai.models.chat.completions.ChatCompletionCreateParams;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()
                            .addDeveloperMessage("string")
                            .model(ChatModel.GPT_4_1)
                            .build();
                        ChatCompletion chatCompletion = client.chat().completions().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.ChatModel
                import com.openai.models.chat.completions.ChatCompletion
                import com.openai.models.chat.completions.ChatCompletionCreateParams

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: ChatCompletionCreateParams = ChatCompletionCreateParams.builder()
                        .addDeveloperMessage("string")
                        .model(ChatModel.GPT_4_1)
                        .build()
                    val chatCompletion: ChatCompletion = client.chat().completions().create(params)
                }
              ruby: >-
                require "openai"


                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )


                chat_completion = openai.chat.completions.create(messages: [{content: "string", role:
                :developer}], model: :"gpt-4.1")


                puts(chat_completion)
            response: |
              {
                "id": "chatcmpl-123",
                "object": "chat.completion",
                "created": 1702685778,
                "model": "gpt-4o-mini",
                "choices": [
                  {
                    "index": 0,
                    "message": {
                      "role": "assistant",
                      "content": "Hello! How can I assist you today?"
                    },
                    "logprobs": {
                      "content": [
                        {
                          "token": "Hello",
                          "logprob": -0.31725305,
                          "bytes": [72, 101, 108, 108, 111],
                          "top_logprobs": [
                            {
                              "token": "Hello",
                              "logprob": -0.31725305,
                              "bytes": [72, 101, 108, 108, 111]
                            },
                            {
                              "token": "Hi",
                              "logprob": -1.3190403,
                              "bytes": [72, 105]
                            }
                          ]
                        },
                        {
                          "token": "!",
                          "logprob": -0.02380986,
                          "bytes": [
                            33
                          ],
                          "top_logprobs": [
                            {
                              "token": "!",
                              "logprob": -0.02380986,
                              "bytes": [33]
                            },
                            {
                              "token": " there",
                              "logprob": -3.787621,
                              "bytes": [32, 116, 104, 101, 114, 101]
                            }
                          ]
                        },
                        {
                          "token": " How",
                          "logprob": -0.000054669687,
                          "bytes": [32, 72, 111, 119],
                          "top_logprobs": [
                            {
                              "token": " How",
                              "logprob": -0.000054669687,
                              "bytes": [32, 72, 111, 119]
                            },
                            {
                              "token": "<|end|>",
                              "logprob": -10.953937,
                              "bytes": null
                            }
                          ]
                        },
                        {
                          "token": " can",
                          "logprob": -0.015801601,
                          "bytes": [32, 99, 97, 110],
                          "top_logprobs": [
                            {
                              "token": " can",
                              "logprob": -0.015801601,
                              "bytes": [32, 99, 97, 110]
                            },
                            {
                              "token": " may",
                              "logprob": -4.161023,
                              "bytes": [32, 109, 97, 121]
                            }
                          ]
                        },
                        {
                          "token": " I",
                          "logprob": -3.7697225e-6,
                          "bytes": [
                            32,
                            73
                          ],
                          "top_logprobs": [
                            {
                              "token": " I",
                              "logprob": -3.7697225e-6,
                              "bytes": [32, 73]
                            },
                            {
                              "token": " assist",
                              "logprob": -13.596657,
                              "bytes": [32, 97, 115, 115, 105, 115, 116]
                            }
                          ]
                        },
                        {
                          "token": " assist",
                          "logprob": -0.04571125,
                          "bytes": [32, 97, 115, 115, 105, 115, 116],
                          "top_logprobs": [
                            {
                              "token": " assist",
                              "logprob": -0.04571125,
                              "bytes": [32, 97, 115, 115, 105, 115, 116]
                            },
                            {
                              "token": " help",
                              "logprob": -3.1089056,
                              "bytes": [32, 104, 101, 108, 112]
                            }
                          ]
                        },
                        {
                          "token": " you",
                          "logprob": -5.4385737e-6,
                          "bytes": [32, 121, 111, 117],
                          "top_logprobs": [
                            {
                              "token": " you",
                              "logprob": -5.4385737e-6,
                              "bytes": [32, 121, 111, 117]
                            },
                            {
                              "token": " today",
                              "logprob": -12.807695,
                              "bytes": [32, 116, 111, 100, 97, 121]
                            }
                          ]
                        },
                        {
                          "token": " today",
                          "logprob": -0.0040071653,
                          "bytes": [32, 116, 111, 100, 97, 121],
                          "top_logprobs": [
                            {
                              "token": " today",
                              "logprob": -0.0040071653,
                              "bytes": [32, 116, 111, 100, 97, 121]
                            },
                            {
                              "token": "?",
                              "logprob": -5.5247097,
                              "bytes": [63]
                            }
                          ]
                        },
                        {
                          "token": "?",
                          "logprob": -0.0008108172,
                          "bytes": [63],
                          "top_logprobs": [
                            {
                              "token": "?",
                              "logprob": -0.0008108172,
                              "bytes": [63]
                            },
                            {
                              "token": "?\n",
                              "logprob": -7.184561,
                              "bytes": [63, 10]
                            }
                          ]
                        }
                      ]
                    },
                    "finish_reason": "stop"
                  }
                ],
                "usage": {
                  "prompt_tokens": 9,
                  "completion_tokens": 9,
                  "total_tokens": 18,
                  "completion_tokens_details": {
                    "reasoning_tokens": 0,
                    "accepted_prediction_tokens": 0,
                    "rejected_prediction_tokens": 0
                  }
                },
                "system_fingerprint": null
              }
  /completions:
    post:
      operationId: createCompletion
      tags:
        - Completions
      summary: Creates a completion for the provided prompt and parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompletionResponse'
      x-oaiMeta:
        name: Create completion
        group: completions
        returns: >
          Returns a [completion](/docs/api-reference/completions/object) object, or a sequence of completion
          objects if the request is streamed.
        legacy: true
        examples:
          - title: No streaming
            request:
              curl: |
                curl https://api.openai.com/v1/completions \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "model": "VAR_completion_model_id",
                    "prompt": "Say this is a test",
                    "max_tokens": 7,
                    "temperature": 0
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                completion = client.completions.create(
                    model="string",
                    prompt="This is a test.",
                )
                print(completion)
              node.js: >-
                import OpenAI from 'openai';


                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });


                const completion = await client.completions.create({ model: 'string', prompt: 'This is a
                test.' });


                console.log(completion);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  completion, err := client.Completions.New(context.TODO(), openai.CompletionNewParams{
                    Model: openai.CompletionNewParamsModelGPT3_5TurboInstruct,
                    Prompt: openai.CompletionNewParamsPromptUnion{
                      OfString: openai.String("This is a test."),
                    },
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", completion)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.completions.Completion;
                import com.openai.models.completions.CompletionCreateParams;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        CompletionCreateParams params = CompletionCreateParams.builder()
                            .model(CompletionCreateParams.Model.GPT_3_5_TURBO_INSTRUCT)
                            .prompt("This is a test.")
                            .build();
                        Completion completion = client.completions().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.completions.Completion
                import com.openai.models.completions.CompletionCreateParams

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: CompletionCreateParams = CompletionCreateParams.builder()
                        .model(CompletionCreateParams.Model.GPT_3_5_TURBO_INSTRUCT)
                        .prompt("This is a test.")
                        .build()
                    val completion: Completion = client.completions().create(params)
                }
              ruby: >-
                require "openai"


                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )


                completion = openai.completions.create(model: :"gpt-3.5-turbo-instruct", prompt: "This is a
                test.")


                puts(completion)
            response: |
              {
                "id": "cmpl-uqkvlQyYK7bGYrRHQ0eXlWi7",
                "object": "text_completion",
                "created": 1589478378,
                "model": "VAR_completion_model_id",
                "system_fingerprint": "fp_44709d6fcb",
                "choices": [
                  {
                    "text": "\n\nThis is indeed a test",
                    "index": 0,
                    "logprobs": null,
                    "finish_reason": "length"
                  }
                ],
                "usage": {
                  "prompt_tokens": 5,
                  "completion_tokens": 7,
                  "total_tokens": 12
                }
              }
          - title: Streaming
            request:
              curl: |
                curl https://api.openai.com/v1/completions \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "model": "VAR_completion_model_id",
                    "prompt": "Say this is a test",
                    "max_tokens": 7,
                    "temperature": 0,
                    "stream": true
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                completion = client.completions.create(
                    model="string",
                    prompt="This is a test.",
                )
                print(completion)
              node.js: >-
                import OpenAI from 'openai';


                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });


                const completion = await client.completions.create({ model: 'string', prompt: 'This is a
                test.' });


                console.log(completion);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  completion, err := client.Completions.New(context.TODO(), openai.CompletionNewParams{
                    Model: openai.CompletionNewParamsModelGPT3_5TurboInstruct,
                    Prompt: openai.CompletionNewParamsPromptUnion{
                      OfString: openai.String("This is a test."),
                    },
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", completion)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.completions.Completion;
                import com.openai.models.completions.CompletionCreateParams;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        CompletionCreateParams params = CompletionCreateParams.builder()
                            .model(CompletionCreateParams.Model.GPT_3_5_TURBO_INSTRUCT)
                            .prompt("This is a test.")
                            .build();
                        Completion completion = client.completions().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.completions.Completion
                import com.openai.models.completions.CompletionCreateParams

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: CompletionCreateParams = CompletionCreateParams.builder()
                        .model(CompletionCreateParams.Model.GPT_3_5_TURBO_INSTRUCT)
                        .prompt("This is a test.")
                        .build()
                    val completion: Completion = client.completions().create(params)
                }
              ruby: >-
                require "openai"


                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )


                completion = openai.completions.create(model: :"gpt-3.5-turbo-instruct", prompt: "This is a
                test.")


                puts(completion)
            response: |
              {
                "id": "cmpl-7iA7iJjj8V2zOkCGvWF2hAkDWBQZe",
                "object": "text_completion",
                "created": 1690759702,
                "choices": [
                  {
                    "text": "This",
                    "index": 0,
                    "logprobs": null,
                    "finish_reason": null
                  }
                ],
                "model": "gpt-3.5-turbo-instruct"
                "system_fingerprint": "fp_44709d6fcb",
              }
  /embeddings:
    post:
      operationId: createEmbedding
      tags:
        - Embeddings
      summary: Creates an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
      x-oaiMeta:
        name: Create embeddings
        group: embeddings
        returns: A list of [embedding](/docs/api-reference/embeddings/object) objects.
        examples:
          response: |
            {
              "object": "list",
              "data": [
                {
                  "object": "embedding",
                  "embedding": [
                    0.0023064255,
                    -0.009327292,
                    .... (1536 floats total for ada-002)
                    -0.0028842222,
                  ],
                  "index": 0
                }
              ],
              "model": "text-embedding-ada-002",
              "usage": {
                "prompt_tokens": 8,
                "total_tokens": 8
              }
            }
          request:
            curl: |
              curl https://api.openai.com/v1/embeddings \
                -H "Authorization: Bearer $OPENAI_API_KEY" \
                -H "Content-Type: application/json" \
                -d '{
                  "input": "The food was delicious and the waiter...",
                  "model": "text-embedding-ada-002",
                  "encoding_format": "float"
                }'
            python: |-
              import os
              from openai import OpenAI

              client = OpenAI(
                  api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
              )
              create_embedding_response = client.embeddings.create(
                  input="The quick brown fox jumped over the lazy dog",
                  model="text-embedding-3-small",
              )
              print(create_embedding_response.data)
            node.js: |-
              import OpenAI from 'openai';

              const client = new OpenAI({
                apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
              });

              const createEmbeddingResponse = await client.embeddings.create({
                input: 'The quick brown fox jumped over the lazy dog',
                model: 'text-embedding-3-small',
              });

              console.log(createEmbeddingResponse.data);
            csharp: >
              using System;


              using OpenAI.Embeddings;


              EmbeddingClient client = new(
                  model: "text-embedding-3-small",
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );


              OpenAIEmbedding embedding = client.GenerateEmbedding(input: "The quick brown fox jumped over the
              lazy dog");

              ReadOnlyMemory<float> vector = embedding.ToFloats();


              for (int i = 0; i < vector.Length; i++)

              {
                  Console.WriteLine($"  [{i,4}] = {vector.Span[i]}");
              }
            go: |
              package main

              import (
                "context"
                "fmt"

                "github.com/openai/openai-go"
                "github.com/openai/openai-go/option"
              )

              func main() {
                client := openai.NewClient(
                  option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                )
                createEmbeddingResponse, err := client.Embeddings.New(context.TODO(), openai.EmbeddingNewParams{
                  Input: openai.EmbeddingNewParamsInputUnion{
                    OfString: openai.String("The quick brown fox jumped over the lazy dog"),
                  },
                  Model: openai.EmbeddingModelTextEmbeddingAda002,
                })
                if err != nil {
                  panic(err.Error())
                }
                fmt.Printf("%+v\n", createEmbeddingResponse.Data)
              }
            java: |-
              package com.openai.example;

              import com.openai.client.OpenAIClient;
              import com.openai.client.okhttp.OpenAIOkHttpClient;
              import com.openai.models.embeddings.CreateEmbeddingResponse;
              import com.openai.models.embeddings.EmbeddingCreateParams;
              import com.openai.models.embeddings.EmbeddingModel;

              public final class Main {
                  private Main() {}

                  public static void main(String[] args) {
                      // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                      OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                      EmbeddingCreateParams params = EmbeddingCreateParams.builder()
                          .input("The quick brown fox jumped over the lazy dog")
                          .model(EmbeddingModel.TEXT_EMBEDDING_ADA_002)
                          .build();
                      CreateEmbeddingResponse createEmbeddingResponse = client.embeddings().create(params);
                  }
              }
            kotlin: |-
              package com.openai.example

              import com.openai.client.OpenAIClient
              import com.openai.client.okhttp.OpenAIOkHttpClient
              import com.openai.models.embeddings.CreateEmbeddingResponse
              import com.openai.models.embeddings.EmbeddingCreateParams
              import com.openai.models.embeddings.EmbeddingModel

              fun main() {
                  // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                  val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                  val params: EmbeddingCreateParams = EmbeddingCreateParams.builder()
                      .input("The quick brown fox jumped over the lazy dog")
                      .model(EmbeddingModel.TEXT_EMBEDDING_ADA_002)
                      .build()
                  val createEmbeddingResponse: CreateEmbeddingResponse = client.embeddings().create(params)
              }
            ruby: |-
              require "openai"

              openai = OpenAI::Client.new(
                api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
              )

              create_embedding_response = openai.embeddings.create(
                input: "The quick brown fox jumped over the lazy dog",
                model: :"text-embedding-ada-002"
              )

              puts(create_embedding_response)
  /models:
    get:
      operationId: listModels
      tags:
        - Models
      summary: >-
        Lists the currently available models, and provides basic information about each one such as the owner
        and availability.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
      x-oaiMeta:
        name: List models
        group: models
        returns: A list of [model](/docs/api-reference/models/object) objects.
        examples:
          response: |
            {
              "object": "list",
              "data": [
                {
                  "id": "model-id-0",
                  "object": "model",
                  "created": 1686935002,
                  "owned_by": "organization-owner"
                },
                {
                  "id": "model-id-1",
                  "object": "model",
                  "created": 1686935002,
                  "owned_by": "organization-owner",
                },
                {
                  "id": "model-id-2",
                  "object": "model",
                  "created": 1686935002,
                  "owned_by": "openai"
                },
              ],
              "object": "list"
            }
          request:
            curl: |
              curl https://api.openai.com/v1/models \
                -H "Authorization: Bearer $OPENAI_API_KEY"
            python: |-
              import os
              from openai import OpenAI

              client = OpenAI(
                  api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
              )
              page = client.models.list()
              page = page.data[0]
              print(page.id)
            node.js: |-
              import OpenAI from 'openai';

              const client = new OpenAI({
                apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
              });

              // Automatically fetches more pages as needed.
              for await (const model of client.models.list()) {
                console.log(model.id);
              }
            csharp: |
              using System;

              using OpenAI.Models;

              OpenAIModelClient client = new(
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              foreach (var model in client.GetModels().Value)
              {
                  Console.WriteLine(model.Id);
              }
            go: |
              package main

              import (
                "context"
                "fmt"

                "github.com/openai/openai-go"
                "github.com/openai/openai-go/option"
              )

              func main() {
                client := openai.NewClient(
                  option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                )
                page, err := client.Models.List(context.TODO())
                if err != nil {
                  panic(err.Error())
                }
                fmt.Printf("%+v\n", page)
              }
            java: |-
              package com.openai.example;

              import com.openai.client.OpenAIClient;
              import com.openai.client.okhttp.OpenAIOkHttpClient;
              import com.openai.models.models.ModelListPage;
              import com.openai.models.models.ModelListParams;

              public final class Main {
                  private Main() {}

                  public static void main(String[] args) {
                      // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                      OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                      ModelListPage page = client.models().list();
                  }
              }
            kotlin: |-
              package com.openai.example

              import com.openai.client.OpenAIClient
              import com.openai.client.okhttp.OpenAIOkHttpClient
              import com.openai.models.models.ModelListPage
              import com.openai.models.models.ModelListParams

              fun main() {
                  // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                  val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                  val page: ModelListPage = client.models().list()
              }
            ruby: |-
              require "openai"

              openai = OpenAI::Client.new(
                api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
              )

              page = openai.models.list

              puts(page)
  /models/{model}:
    get:
      operationId: retrieveModel
      tags:
        - Models
      summary: >-
        Retrieves a model instance, providing basic information about the model such as the owner and
        permissioning.
      parameters:
        - in: path
          name: model
          required: true
          schema:
            type: string
            example: gpt-4o-mini
          description: The ID of the model to use for this request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
      x-oaiMeta:
        name: Retrieve model
        group: models
        returns: The [model](/docs/api-reference/models/object) object matching the specified ID.
        examples:
          response: |
            {
              "id": "VAR_chat_model_id",
              "object": "model",
              "created": 1686935002,
              "owned_by": "openai"
            }
          request:
            curl: |
              curl https://api.openai.com/v1/models/VAR_chat_model_id \
                -H "Authorization: Bearer $OPENAI_API_KEY"
            python: |-
              import os
              from openai import OpenAI

              client = OpenAI(
                  api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
              )
              model = client.models.retrieve(
                  "gpt-4o-mini",
              )
              print(model.id)
            node.js: |-
              import OpenAI from 'openai';

              const client = new OpenAI({
                apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
              });

              const model = await client.models.retrieve('gpt-4o-mini');

              console.log(model.id);
            csharp: |
              using System;
              using System.ClientModel;

              using OpenAI.Models;

                OpenAIModelClient client = new(
                  apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
              );

              ClientResult<OpenAIModel> model = client.GetModel("babbage-002");
              Console.WriteLine(model.Value.Id);
            go: |
              package main

              import (
                "context"
                "fmt"

                "github.com/openai/openai-go"
                "github.com/openai/openai-go/option"
              )

              func main() {
                client := openai.NewClient(
                  option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                )
                model, err := client.Models.Get(context.TODO(), "gpt-4o-mini")
                if err != nil {
                  panic(err.Error())
                }
                fmt.Printf("%+v\n", model.ID)
              }
            java: |-
              package com.openai.example;

              import com.openai.client.OpenAIClient;
              import com.openai.client.okhttp.OpenAIOkHttpClient;
              import com.openai.models.models.Model;
              import com.openai.models.models.ModelRetrieveParams;

              public final class Main {
                  private Main() {}

                  public static void main(String[] args) {
                      // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                      OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                      Model model = client.models().retrieve("gpt-4o-mini");
                  }
              }
            kotlin: |-
              package com.openai.example

              import com.openai.client.OpenAIClient
              import com.openai.client.okhttp.OpenAIOkHttpClient
              import com.openai.models.models.Model
              import com.openai.models.models.ModelRetrieveParams

              fun main() {
                  // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                  val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                  val model: Model = client.models().retrieve("gpt-4o-mini")
              }
            ruby: |-
              require "openai"

              openai = OpenAI::Client.new(
                api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
              )

              model = openai.models.retrieve("gpt-4o-mini")

              puts(model)
  /moderations:
    post:
      operationId: createModeration
      tags:
        - Moderations
      summary: |
        Classifies if text and/or image inputs are potentially harmful. Learn
        more in the [moderation guide](/docs/guides/moderation).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModerationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModerationResponse'
      x-oaiMeta:
        name: Create moderation
        group: moderations
        returns: A [moderation](/docs/api-reference/moderations/object) object.
        examples:
          - title: Single string
            request:
              curl: |
                curl https://api.openai.com/v1/moderations \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "input": "I want to kill them."
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                moderation = client.moderations.create(
                    input="I want to kill them.",
                )
                print(moderation.id)
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const moderation = await client.moderations.create({ input: 'I want to kill them.' });

                console.log(moderation.id);
              csharp: |
                using System;
                using System.ClientModel;

                using OpenAI.Moderations;

                ModerationClient client = new(
                    model: "omni-moderation-latest",
                    apiKey: Environment.GetEnvironmentVariable("OPENAI_API_KEY")
                );

                ClientResult<ModerationResult> moderation = client.ClassifyText("I want to kill them.");
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  moderation, err := client.Moderations.New(context.TODO(), openai.ModerationNewParams{
                    Input: openai.ModerationNewParamsInputUnion{
                      OfString: openai.String("I want to kill them."),
                    },
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", moderation.ID)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.moderations.ModerationCreateParams;
                import com.openai.models.moderations.ModerationCreateResponse;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        ModerationCreateParams params = ModerationCreateParams.builder()
                            .input("I want to kill them.")
                            .build();
                        ModerationCreateResponse moderation = client.moderations().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.moderations.ModerationCreateParams
                import com.openai.models.moderations.ModerationCreateResponse

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: ModerationCreateParams = ModerationCreateParams.builder()
                        .input("I want to kill them.")
                        .build()
                    val moderation: ModerationCreateResponse = client.moderations().create(params)
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )

                moderation = openai.moderations.create(input: "I want to kill them.")

                puts(moderation)
            response: |
              {
                "id": "modr-AB8CjOTu2jiq12hp1AQPfeqFWaORR",
                "model": "text-moderation-007",
                "results": [
                  {
                    "flagged": true,
                    "categories": {
                      "sexual": false,
                      "hate": false,
                      "harassment": true,
                      "self-harm": false,
                      "sexual/minors": false,
                      "hate/threatening": false,
                      "violence/graphic": false,
                      "self-harm/intent": false,
                      "self-harm/instructions": false,
                      "harassment/threatening": true,
                      "violence": true
                    },
                    "category_scores": {
                      "sexual": 0.000011726012417057063,
                      "hate": 0.22706663608551025,
                      "harassment": 0.5215635299682617,
                      "self-harm": 2.227119921371923e-6,
                      "sexual/minors": 7.107352217872176e-8,
                      "hate/threatening": 0.023547329008579254,
                      "violence/graphic": 0.00003391829886822961,
                      "self-harm/intent": 1.646940972932498e-6,
                      "self-harm/instructions": 1.1198755256458526e-9,
                      "harassment/threatening": 0.5694745779037476,
                      "violence": 0.9971134662628174
                    }
                  }
                ]
              }
          - title: Image and text
            request:
              curl: |
                curl https://api.openai.com/v1/moderations \
                  -X POST \
                  -H "Content-Type: application/json" \
                  -H "Authorization: Bearer $OPENAI_API_KEY" \
                  -d '{
                    "model": "omni-moderation-latest",
                    "input": [
                      { "type": "text", "text": "...text to classify goes here..." },
                      {
                        "type": "image_url",
                        "image_url": {
                          "url": "https://example.com/image.png"
                        }
                      }
                    ]
                  }'
              python: |-
                import os
                from openai import OpenAI

                client = OpenAI(
                    api_key=os.environ.get("OPENAI_API_KEY"),  # This is the default and can be omitted
                )
                moderation = client.moderations.create(
                    input="I want to kill them.",
                )
                print(moderation.id)
              node.js: |-
                import OpenAI from 'openai';

                const client = new OpenAI({
                  apiKey: process.env['OPENAI_API_KEY'], // This is the default and can be omitted
                });

                const moderation = await client.moderations.create({ input: 'I want to kill them.' });

                console.log(moderation.id);
              go: |
                package main

                import (
                  "context"
                  "fmt"

                  "github.com/openai/openai-go"
                  "github.com/openai/openai-go/option"
                )

                func main() {
                  client := openai.NewClient(
                    option.WithAPIKey("My API Key"), // defaults to os.LookupEnv("OPENAI_API_KEY")
                  )
                  moderation, err := client.Moderations.New(context.TODO(), openai.ModerationNewParams{
                    Input: openai.ModerationNewParamsInputUnion{
                      OfString: openai.String("I want to kill them."),
                    },
                  })
                  if err != nil {
                    panic(err.Error())
                  }
                  fmt.Printf("%+v\n", moderation.ID)
                }
              java: |-
                package com.openai.example;

                import com.openai.client.OpenAIClient;
                import com.openai.client.okhttp.OpenAIOkHttpClient;
                import com.openai.models.moderations.ModerationCreateParams;
                import com.openai.models.moderations.ModerationCreateResponse;

                public final class Main {
                    private Main() {}

                    public static void main(String[] args) {
                        // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                        OpenAIClient client = OpenAIOkHttpClient.fromEnv();

                        ModerationCreateParams params = ModerationCreateParams.builder()
                            .input("I want to kill them.")
                            .build();
                        ModerationCreateResponse moderation = client.moderations().create(params);
                    }
                }
              kotlin: |-
                package com.openai.example

                import com.openai.client.OpenAIClient
                import com.openai.client.okhttp.OpenAIOkHttpClient
                import com.openai.models.moderations.ModerationCreateParams
                import com.openai.models.moderations.ModerationCreateResponse

                fun main() {
                    // Configures using the `OPENAI_API_KEY`, `OPENAI_ORG_ID`, `OPENAI_PROJECT_ID`, `OPENAI_WEBHOOK_SECRET` and `OPENAI_BASE_URL` environment variables
                    val client: OpenAIClient = OpenAIOkHttpClient.fromEnv()

                    val params: ModerationCreateParams = ModerationCreateParams.builder()
                        .input("I want to kill them.")
                        .build()
                    val moderation: ModerationCreateResponse = client.moderations().create(params)
                }
              ruby: |-
                require "openai"

                openai = OpenAI::Client.new(
                  api_key: ENV["OPENAI_API_KEY"] # This is the default and can be omitted
                )

                moderation = openai.moderations.create(input: "I want to kill them.")

                puts(moderation)
            response: |
              {
                "id": "modr-0d9740456c391e43c445bf0f010940c7",
                "model": "omni-moderation-latest",
                "results": [
                  {
                    "flagged": true,
                    "categories": {
                      "harassment": true,
                      "harassment/threatening": true,
                      "sexual": false,
                      "hate": false,
                      "hate/threatening": false,
                      "illicit": false,
                      "illicit/violent": false,
                      "self-harm/intent": false,
                      "self-harm/instructions": false,
                      "self-harm": false,
                      "sexual/minors": false,
                      "violence": true,
                      "violence/graphic": true
                    },
                    "category_scores": {
                      "harassment": 0.8189693396524255,
                      "harassment/threatening": 0.804985420696006,
                      "sexual": 1.573112165348997e-6,
                      "hate": 0.007562942636942845,
                      "hate/threatening": 0.004208854591835476,
                      "illicit": 0.030535955153511665,
                      "illicit/violent": 0.008925306722380033,
                      "self-harm/intent": 0.00023023930975076432,
                      "self-harm/instructions": 0.0002293869201073356,
                      "self-harm": 0.012598046106750154,
                      "sexual/minors": 2.212566909570261e-8,
                      "violence": 0.9999992735124786,
                      "violence/graphic": 0.843064871157054
                    },
                    "category_applied_input_types": {
                      "harassment": [
                        "text"
                      ],
                      "harassment/threatening": [
                        "text"
                      ],
                      "sexual": [
                        "text",
                        "image"
                      ],
                      "hate": [
                        "text"
                      ],
                      "hate/threatening": [
                        "text"
                      ],
                      "illicit": [
                        "text"
                      ],
                      "illicit/violent": [
                        "text"
                      ],
                      "self-harm/intent": [
                        "text",
                        "image"
                      ],
                      "self-harm/instructions": [
                        "text",
                        "image"
                      ],
                      "self-harm": [
                        "text",
                        "image"
                      ],
                      "sexual/minors": [
                        "text"
                      ],
                      "violence": [
                        "text",
                        "image"
                      ],
                      "violence/graphic": [
                        "text",
                        "image"
                      ]
                    }
                  }
                ]
              }
components:
  schemas:
    Metadata:
      type: object
      description: |
        Set of 16 key-value pairs that can be attached to an object. This can be
        useful for storing additional information about the object in a structured
        format, and querying for objects via API or the dashboard. 

        Keys are strings with a maximum length of 64 characters. Values are strings
        with a maximum length of 512 characters.
      additionalProperties:
        type: string
      x-oaiTypeLabel: map
      nullable: true
    ServiceTier:
      type: string
      description: |
        Specifies the processing type used for serving the request.
          - If set to 'auto', then the request will be processed with the service tier configured in the Project settings. Unless otherwise configured, the Project will use 'default'.
          - If set to 'default', then the requset will be processed with the standard pricing and performance for the selected model.
          - If set to '[flex](/docs/guides/flex-processing)' or 'priority', then the request will be processed with the corresponding service tier. [Contact sales](https://openai.com/contact-sales) to learn more about Priority processing.
          - When not set, the default behavior is 'auto'.

          When the `service_tier` parameter is set, the response body will include the `service_tier` value based on the processing mode actually used to serve the request. This response value may be different from the value set in the parameter.
      enum:
        - auto
        - default
        - flex
        - scale
        - priority
      nullable: true
      default: auto
    ModelResponseProperties:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        top_logprobs:
          description: |
            An integer between 0 and 20 specifying the number of most likely tokens to
            return at each token position, each with an associated log probability.
          type: integer
          minimum: 0
          maximum: 20
          nullable: true
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 1
          example: 1
          nullable: true
          description: >
            What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output
            more random, while lower values like 0.2 will make it more focused and deterministic.

            We generally recommend altering this or `top_p` but not both.
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 1
          example: 1
          nullable: true
          description: |
            An alternative to sampling with temperature, called nucleus sampling,
            where the model considers the results of the tokens with top_p probability
            mass. So 0.1 means only the tokens comprising the top 10% probability mass
            are considered.

            We generally recommend altering this or `temperature` but not both.
        user:
          type: string
          example: user-1234
          description: >
            A stable identifier for your end-users. 

            Used to boost cache hit rates by better bucketing similar requests and  to help OpenAI detect and
            prevent abuse. [Learn more](/docs/guides/safety-best-practices#end-user-ids).
        service_tier:
          $ref: '#/components/schemas/ServiceTier'
    CreateModelResponseProperties:
      allOf:
        - $ref: '#/components/schemas/ModelResponseProperties'
        - type: object
          properties:
            top_logprobs:
              description: |
                An integer between 0 and 20 specifying the number of most likely tokens to
                return at each token position, each with an associated log probability.
              type: integer
              minimum: 0
              maximum: 20
    ChatCompletionRequestMessage:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionRequestDeveloperMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestSystemMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestUserMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestAssistantMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestToolMessage'
        - $ref: '#/components/schemas/ChatCompletionRequestFunctionMessage'
    ChatCompletionRequestFunctionMessage:
      type: object
      title: Function message
      deprecated: true
      properties:
        role:
          type: string
          enum:
            - function
          description: The role of the messages author, in this case `function`.
          x-stainless-const: true
        content:
          nullable: true
          type: string
          description: The contents of the function message.
        name:
          type: string
          description: The name of the function to call.
      required:
        - role
        - content
        - name
    ChatCompletionRequestToolMessage:
      type: object
      title: Tool message
      properties:
        role:
          type: string
          enum:
            - tool
          description: The role of the messages author, in this case `tool`.
          x-stainless-const: true
        content:
          oneOf:
            - type: string
              description: The contents of the tool message.
              title: Text content
            - type: array
              description: >-
                An array of content parts with a defined type. For tool messages, only type `text` is
                supported.
              title: Array of content parts
              items:
                $ref: '#/components/schemas/ChatCompletionRequestToolMessageContentPart'
              minItems: 1
          description: The contents of the tool message.
        tool_call_id:
          type: string
          description: Tool call that this message is responding to.
      required:
        - role
        - content
        - tool_call_id
    ChatCompletionRequestToolMessageContentPart:
      oneOf:
        - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
    ChatCompletionRequestAssistantMessage:
      type: object
      title: Assistant message
      description: |
        Messages sent by the model in response to user messages.
      properties:
        content:
          nullable: true
          oneOf:
            - type: string
              description: The contents of the assistant message.
              title: Text content
            - type: array
              description: >-
[...]
